/* fonts 
font-family: 'Anek Malayalam', sans-serif;
font-family: 'Dancing Script', cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1400px;
    /* border:  1px solid black; */
    margin: auto;
}

.main {
    height: 100vh;
    background: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: 114% 100%;
    position: relative;


}

.container {
    width: 1200px;
    /* border: 1px solid black; */
    margin: auto;
    position: relative;
    height: 100%;
}

.menu ul {
    list-style: none;
    margin-top: 20px;
}

@media screen and (max-width: 414px){
    .menu ul {
        display: none!important;
        
    }
    .menu .fa-bars ul{
        width: 100%;
        
    }
    .menu .menuMobaile {
        position: fixed;
        top:40px;
        height: fit-content;
        margin: 0;
        text-align: right;
        
    }

.fa-bars:hover ul{
    display: flex!important;  
}


}





.fa-bars{
    font-size: 30px;
}
 
.fa-bars ul {
    display: flex;
    flex-direction: column;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
}

.menu ul li {
    padding: 10px 15px;
}

/* .menu ul li:last-child{
    padding-right: 0;
} */
.menu ul li:hover {
    border: 1px solid black;
    cursor: pointer;
}

.menu ul {
    display: flex;
    /* width: 50%; */
    justify-content: space-between;
    width: calc(50% - 20px);

}

.menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.menuMobaile{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
}


.title {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    bottom: 0;
    top: 0;
    right: 113px;
    height: fit-content;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}


#aboutUs{
    display: flex;
    align-items:center;

}

.aboutUs{
    height: 80%;
}


.aboutUs__img{
    background: url(../img/Food.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
     width: 100%;
}

.title__line {
    margin-top: 25px;
}

/* желтая секция */
.wrapper:nth-child(2) {
    background-color: rgb(161, 129, 22);
    height: 30vh;
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}

.partners>div {
    width: 25%;
    /* border: 1px solid black; */
    text-align: center;

}

.partners__item div {
    margin: auto;

}

/* белая секция */
.wrapper:nth-child(3) {
    background-color: white;
    height: 70vh;
}

h3 {
    text-align: center;
    margin: 70px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;

}

.dishes h3 img {
    margin-top: 20px;
}

.dishes__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px 150px;


}

.dishes__grid>div {
    /* border: 1px solid black; */

}

.dishes__grid>div:nth-child(-n+6):nth-child(even) {
    background-color: rgb(214 206 188 / 18%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 20px;

}
.dishes__grid>div:nth-child(-n+6):nth-child(even) h2{
    text-decoration: underline;
    margin: 15px 0;
}

.dishes__grid>div:nth-child(n+7):nth-child(odd) {
    background-color: rgb(214 206 188 / 18%);
}

.dishes__grid>div:nth-child(1) {
    background:url(https://avotar.ru/avatar/eda/150/26.jpg);
background-repeat:no-repeat;
background-size: 110%;
background-position: 50%;
}

.wrapper:nth-child(3) .container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.dishes {
    width: 100%;
}

.wrapper:nth-child(4) {
    background-color: #8080803d;
    height: 70vh;
}

 

.aboutUs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title__aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.title__line__aboutUs {}

.text_aboutUs {
    text-align: center;
    margin: 30px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.aboutUs .title__aboutUs>span {
    text-align: center;
    margin: 30px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;

}

.ucfirst {
    display: inline-block;

}

.ucfirst::first-letter {
    text-transform: uppercase;
}

.title__line__aboutUs img {}



.wrapper:nth-child(5) {
    background-color: rgb(221, 207, 207);
    height: 70vh;
}

.proposition {
    position: relative;
    height: 100%;
}

.proposition h3 {
    margin-top: 0;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 30px;
}

.proposition h3 img {
    margin-top: 20px;
}

.proposition__menu ul {
    list-style: none;
    margin-top: 20px;
}

.proposition__menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
}

.proposition__menu ul li {
    padding: 10px 15px;
    height: fit-content;
}

.proposition__menu ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 140px;
    z-index: 2;
}

.proposition__menu ul li:hover {
    border: 1px solid black;
    cursor: pointer;
}

.proposition__list {

    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.proposition__list>div:nth-child(1) {
    width: 40%;
    /* border: 1px solid black;  */
    position: absolute;
    bottom: 30px;
    margin: 20px 0;

}

.proposition__list>div:nth-child(2) {
    width: 40%;
    /* border: 1px solid black;  */
    position: absolute;
    bottom: 30px;
    margin: 20px 0;
    right: 0;
}

.proposition__list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;

}

.proposition__list__line {
    border-bottom: 1px dashed black;
    width: 280px;
    padding: 8px 0;
}

.proposition__list__item span {
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;

}

.proposition__list__item span+div {
    position: absolute;
}


.wrapper:nth-child(6) {
    background-color:rgb(126 128 85 / 34%);
    height: 70vh;
}



.footer__contact {
    position: relative;
    height: 100%;
    /* border: 1px solid black; */
}

.footer__contact h3 {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 50px;
    text-transform: capitalize;
    z-index: 2;
}

.footer__contact h3 img {
    margin-top: 20px;
}

.footer__contact{
    display: flex;
    /* justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column; */
    width: 100%;
    /* border: 1px solid black; */
}

.footer__line{
position: absolute;
 
}
.footer__contact .footer__contact__left{
    width: 60%;
    position: relative;
}
.footer__contact .footer__contact__right{
    width: 40%;
    position: relative;
}

.footer__contactForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 48px;
    position: absolute;
    top: 15%;
    width: 100%;
}
.footer__contact__form{
    position: absolute;
    top: 40%;

}
form{
    position: relative;
}

.footer__formHeader{
    position: absolute;
    top: -45px;
    font-size: 20px;
}

.footer__contact__form .footer__contactInput{
    display: flex;
    justify-content: space-between;
}

.footer__contacText{

    margin: 36px 0;

}

.footer__contacText textarea{
    width: 100%;
    resize: none;
    border: none;
    /* border-bottom: 1px solid black; */
    background-color: rgb(126 128 85 / 0%);

}


.footer__contact__form  form input{
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(126 128 85 / 0%);
    padding: 0px 0px 10px 15px;
    font-size: 20px;
    width: 43%;
}

.footer__contact__form  form input:focus{
    border:  none;
}

#footer__btn{
    text-align: center;
}

#footer__btn__registe{
    cursor: pointer;
    color: rgb(138, 101, 23);
    background-color: rgb(126 128 85 / 0%);
    font-size: 20px;
    padding: 10px;
    width: auto;
    border: 1px solid black;
     
}


.footer__line{
    width: 100%;
    position: absolute;
    margin: auto;
    height: 53px;
    /* border: 1px solid black; */
    left: 0;
    right: 0;
    bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__item a{
    color: white;
    margin: 0 5px;
    font-size: 25px;
    border: 1px solid #827d66bf;
    padding: 5px;
    box-shadow: 2px 1px 8px 0px black;
}
.footer__item{
    display: flex;

    position: absolute;
    right: 0;
}
.footer__line .compani{
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}